.container .eleven.columns{
	width:560px;
}

span.nolink {
    padding: 10px;
    display: block;
    position: relative;
}

.openlayers-map a{
	color:white;
}

#block-block-1{
background-color:red;
color:white;
}
